<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>com.equipe-6.name.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34DE4C1921A532CA00DA839C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DE4C2D21A532CC00DA839C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DE4C3821A532CC00DA839C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
